#!/usr/bin/bash

# .aliases: bash aliases

alias reload=". ~/.bash_profile"

alias grep="grep -n --color"

##
# One-char Git aliases optimized
# for speed and versatility
##
alias g="git"
# Hides untracked items by default
alias s="git status -uno"
alias a="git add -u"
alias r="git reset HEAD"
alias p="git pull --rebase"
alias P="git push"
alias x="git checkout -- ."
alias c="git commit -v"
alias C="git commit --amend --no-edit"


alias v="vi"

# Syntax highlight the file, with the
# familiarity of "cat"
# 
# "cat" with "ccat"
# sudo zypper i \
# 	python3-pygmentize \   # For ccat
# 	highlight              # For cats
alias ccat="pygmentize"
alias cats="highlight -O ansi"

alias clock="tty-clock -c -s -t"

###
## Remote utils
###
alias crypto="curl -H 'User-Agent: wget' rate.sx"

function d() {
	curl -s "dict.org/define:$1:english" | less
}
export -f d

alias t="trans -shell"
