#!/usr/bin/env bash

### .aliases
###    A collection of favorite aliases, as well as useful functions.
###

alias reload=". ~/.bash_profile"


###
## Super diff
## 1. `diff` by itself shows a diff of cached
## 2. `diff` with two file-like arguments uses git's differ to compare them
## 3. everything else passes through to `git diff`
###
function diff() {
	if [[ "$#" -eq 0 ]]; then
		git diff --cached
		return $?
	fi
	if [[ "$#" -eq 2 ]]; then
		# Diff two files
		if [[ -f "$1" && -f "$2" ]]; then
			git diff --no-index $1 $2
			return $?
		fi

		# Diff two folders
		if [[ -d "$1" && -d "$2" ]]; then
			/usr/bin/diff -ruN "$1" "$2"
		fi
	fi

	git diff "$@"

}

export -f diff

function dotfile_update() {
	git stash
	git pull --rebase
	git stash apply
}
export -f dotfile_update

###
## Git aliases
## 
## Brevity is preferred here, to enable
## robust and expedited SCM management.
###
alias g="git"
# Hides untracked items by default
alias s="git status -uno"
alias a="git add -u"
alias r="git reset HEAD"
alias p="git pull --rebase"
alias P="git push"
alias x="git checkout -- ."
alias c="git commit -v"
alias C="git commit --amend --no-edit"

## Favorites
alias crypto="curl -H 'User-Agent: wget' rate.sx"

alias v="vi"

# Syntax highlight the file, with the
# familiarity of "cat"
# 
# "cat" with "ccat"
# sudo zypper i \
# 	python3-pygmentize \   # For ccat
# 	highlight              # For cats
alias ccat="pygmentize"
alias cats="highlight -O ansi"

alias clock="tty-clock -c -s -t"

function d() {
	curl -s dict.org/define:$1:english | less
}

export -f d

alias t="trans -shell"
