#!/usr/bin/env bash

### .alaises
###    A collection of favorite aliases, as well as useful functions.
###

alias reload=". ~/.bash_profile"

# Status hides untracked
# items
alias statusfull="git status"
alias status="git status -uno"


###
## Super diff
## 1. `diff` by itself shows a diff of cached
## 2. `diff` with two file-like arguments uses git's differ to compare them
## 3. everything else passes through to `git diff`
###
function diff() {
	if [[ "$#" -eq 0 ]]; then
		git diff --cached
		return $?
	fi
	if [[ "$#" -eq 2 ]]; then
		# Diff two files
		if [[ -f "$1" && -f "$2" ]]; then
			git diff --no-index $1 $2
			return $?
		fi

		# Diff two folders
		if [[ -d "$1" && -d "$2" ]]; then
			/usr/bin/diff -ruN "$1" "$2"
		fi
	fi

	git diff "$@"

}

export -f diff

function dotfile_update() {
	git stash
	git pull --rebase
	git stash apply
}
export -f dotfile_update

alias add="git add -u"
alias addall="add ."
alias unstage="git reset HEAD"
alias pull="git pull --rebase"
alias push="git push"
alias dammit="git commit --amend --no-edit"
alias fuckitall="git checkout -- ."
alias commit="git commit -v"

## Favorites

function weather() {
	city=$1
	curl -H 'User-Agent: curl' http://wttr.in/${city}
}

export -f weather

alias v="vi"


# Go back to root shell
alias dropback="fg"

# remove DOS-like dir alias for "ls" if it exists
alias dir &> /dev/null
if [[ $? -eq 0 ]]; then
	unalias dir
fi

# Dir switcher (favorites)
function dir() {
	prog="$HOME/bin/lib/dir"
	if [[ $# -ne 0 ]]; then
		$prog $@
		return $?
	fi
	dir=`$prog`
	if [[ -n $dir ]]; then
		echo "Switching to $dir... "
		pushd "$dir"
	fi
}
export -f dir

# Syntax highlight the file, with the
# familiarity of "cat"
# 
# "cat" with "ccat"
# sudo zypper i \
# 	python3-pygmentize \   # For ccat
# 	highlight              # For cats
alias ccat="pygmentize"
alias cats="highlight -O ansi"


alias clock="tty-clock -c -s -t"
