#!/usr/bin/sh

# this file is a cross-compatible list of
# exports for fish and bash. since most
# shells need to be supported, a very limited
# set of shell language is possible in this file.
# todo: needs review

export EDITOR='vim'

# Fuzzy finder uses git ls-tree by default (fast)
export FZF_DEFAULT_COMMAND='
  (git ls-tree -r --name-only HEAD ||
   find . -path "*/\.*" -prune -o -type f -print -o -type l -print |
      sed s/^..//) 2> /dev/null'

# Duplicate in CTRL + T
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# Less defaults
export LESS="-RFX"

export GIT_PS1_SHOWDIRTYSTATE=true

# multi-threaded xz. see: https://stackoverflow.com/a/33441796/270302
export XZ_OPT="-T0"

export PATH="${PATH}:/home/avindra/App/miniconda3/bin"
