.nvm
.config/yarn
.local/share/fish
.node-gyp
.atom/packages
.vscode
.cargo
go
.m2
.rustup
.cache/
.homeenv
.work_profile
.ssh
.aws
.*_history

.npm
.yarn

.Trash
Pictures
Music
Desktop
Dev
Library
Documents
Downloads
Movies
Applications
node_modules
