! special
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #f2777a

! green
*.color2:       #99cc99
*.color10:      #99cc99

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec

! Rofi
rofi.font: Inconsolata 16
rofi.bw: 0
rofi.padding: 300
rofi.lines: 8
rofi.line-margin: 0
rofi.eh: 2
rofi.fullscreen: true
rofi.separator-style: solid
rofi.matching: fuzzy
rofi.terminal: urxvtc-256color
rofi.display-combi: $
! Urxvt

URxvt.scrollBar: false
URxvt.font: xft:inconsolata:medium:size=20
URxvt.letterSpace: -1
URxvt.blurRadius: 20

! Mocks Mod+K behavior in iTerm2 to clear scroll buffer
! Mod4 = Super
! credit: https://superuser.com/a/1150111/59068
URxvt.keysym.C-k: command:\033c

URxvt.keysym.C-Prior: command:\033]720;1\007
URxvt.keysym.C-Next: command:\033]721;1\007
URxvt.depth: 32

! Enable these for transparency
! disabled for now to make pywal play
! better

! URxvt.foreground: grey95

! URxvt.background: black
