! Urxvt


URxvt.internalBorder: 8
URxvt.cursorBlink: true
URxvt.scrollBar: false

URxvt.font: xft:Source Code Pro:style=light:size=22, \
            xft:Noto Color Emoji, \
           12x8
URxvt.boldFont: xft:Source Code Pro:style=bold:size=22
URxvt.italicFont: xft:Source Code Pro:style=italic:size=22
URxvt.boldItalicFont: xft:Source Code Pro:style=medium:size=22

URxvt.letterSpace: -1
URxvt.blurRadius: 20

! Mocks Mod+K behavior in iTerm2 to clear scroll buffer
! Mod4 = Super
! credit: https://superuser.com/a/1150111/59068
URxvt.keysym.C-k: command:\033c

URxvt.keysym.C-Prior: command:\033]720;1\007
URxvt.keysym.C-Next: command:\033]721;1\007
URxvt.depth: 32

! Enable these for transparency
! disabled for now to make pywal play
! better

! URxvt.foreground: grey95

! URxvt.background: black

! Rofi
rofi.font: Source Code Pro 32
rofi.bw: 0
rofi.padding: 300
rofi.lines: 8
rofi.line-margin: 0
rofi.eh: 2
rofi.fullscreen: true
rofi.separator-style: solid
rofi.matching: fuzzy
rofi.terminal: urxvtc-256color
rofi.display-combi: $
