"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "metrics"
      "language-javascript-jsx"
      "fonts"
      "tree-view"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 19
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "a74b8b50-ea66-c227-573e-a60e46045b67"
  "language-babel": {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter:
    errorPanelHeight: 68
  "linter-eslint":
    fixOnSave: true
  minimap:
    absoluteMode: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  nuclide:
    "nuclide-buck":
      compileErrorDiagnostics: false
    "nuclide-ctags":
      disableWithHack: false
    "nuclide-file-tree":
      showOpenFiles: false
    "nuclide-home":
      showHome: false
    use:
      "nuclide-blame-provider-hg": false
      "nuclide-buck": false
      "nuclide-debugger-iwdp": false
      "nuclide-debugger-native": false
      "nuclide-debugger-php": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-language-hack": false
      "nuclide-language-reason": false
      "nuclide-objc": false
      "nuclide-react-native": false
      "nuclide-swift": false
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".ansi.text":
  editor:
    tabLength: 4
".hack.html.text":
  editor:
    tabLength: 4
".hackfragment.source":
  editor:
    tabLength: 4
".hg-commit.text":
  editor:
    tabLength: 4
".hover.reason.source.type":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    autoIndent: false
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
".reason.source":
  editor:
    tabLength: 4
