"*":
  core:
    disabledPackages: [
      "metrics"
      "language-javascript-jsx"
      "fonts"
    ]
  editor:
    fontSize: 21
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "a74b8b50-ea66-c227-573e-a60e46045b67"
  "language-babel": {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter: {}
  minimap:
    absoluteMode: true
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".js.jsx.source":
  editor:
    autoIndent: false
".js.source":
  editor:
    tabLength: 2
