packages: [
  "file-icons"
  "highlight-selected"
  "language-babel"
  "language-docker"
  "language-nginx"
  "linter"
  "linter-eslint"
  "minimap"
  "minimap-highlight-selected"
  "nuclide"
  "package-sync"
]
