packages: [
  "atom-ternjs"
  "atom-typescript"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "intentions"
  "language-babel"
  "language-docker"
  "language-ejs"
  "language-graphql"
  "language-groovy"
  "language-nginx"
  "linter"
  "linter-eslint"
  "linter-tslint"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "prettier-atom"
  "relative-numbers"
  "vim-mode-plus"
]
