// Tell Windows to load custom font from directory
// Here be no admin rights...

@font-face {
    font-family: "OperatorMono";
    src: url('c:/users/goolchaa/.fonts/Operator Mono/OperatorMono-Medium.otf');
}

.editor {
    font-family: "OperatorMono";
}